<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<title>Crud Clientes</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>


<body>

	<!-- BARRA NAVEGACION -->
	<header th:fragment="header">
		<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/home}"> <strong>SIOMsoft</strong> <img
				src="/images/logo.png" alt="logo" style="width: 40px;">
			</a>
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" th:href="@{/home}">Inico
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Configuración</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Registros comunes
								</a> 
								
								<a
									class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
					
						
						
						</li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Registros </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" th:href="@{/clientes/crearClientes/}">Clientes</a> <a
									class="dropdown-item" href="#">Algo</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Usuarios</a>
							</div>
							</li>
						<li class="nav-item"><a class="nav-link disabled" href="#"
							tabindex="-1" aria-disabled="true">Disabled</a></li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>



	</header>

	<!-- CONTENIDO -->
	<div class="container"></div>

	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer"
		class="bg-dark text-center text-white fixed-bottom">
		<div>
			<p>Copyright 4ng3l0 &copy -2020</p>
		</div>

		<script type="text/javascript"
			th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}">
			
		</script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

	</footer>


</body>
</html>